@model PDF_Model
@{
    ViewData["Title"] = "PDFUpload";
    Layout = null;
}



<head>
    @*  (W3schools, 2021) and (Fontsawesome, 2017) *@
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    @*HTML Change Background Color (Simple How To Tutorial). 2021*@
    <style>

        h1 {
            text-indent: 50px;
            font-family: Bahnschrift;
            color: #FFCB00;
            font-weight: bold;
            font-size: 70px;
            padding-right: 0px;
            padding-top: 5px;
            float: left;
            text-shadow: 2px 2px 4px #FFCB00;
            text-decoration: underline;
        }

        h2 {
            text-indent: 50px;
            font-family: Bahnschrift;
            color: white;
            font-weight: bold;
            font-size: 40px;
            padding-right: 0px;
            padding-top: 5px;
            float: left;
            text-align: center;
            text-shadow: 2px 2px 4px #009DEA;
            text-decoration: underline;
        }

        p {
            padding-top: 30px;
            font-family: Bahnschrift;
            color: #EAD6A8;
            text-align: center;
            font-style: oblique;
            font-size: 25px;
            float: left;
            padding-left: 0px;
        }

        a.CV {
            padding-top: 58px;
            font-weight: bold;
            font-family: Bahnschrift;
            color: #EAD6A8;
            font-size: 30px;
            float: right;
            padding-right: 0px;
        }

        .column {
            float: left;
            width: 33.33%;
            padding: 5px;
        }

        .row {
            content: "";
            clear: both;
            display: table;
        }

    </style>
</head>

@*  (W3schools, 2021) and //(4. Continuation and close off, 2021) *@

@*<html>
<body style="background-color: white">
    <div class="container" style="padding-top:5%">
        <div class="row">
            <div class="col-md-12">
                <div style="background-color: #009DEA; position: absolute; left:450px; width: 50%; height:50%">
                    <h1 class="text-center" style="position: absolute; left:200px">Upload PDF</h1>
                    <div class="col-md-6">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group" style="position: absolute; left:200px; top:120px">
                                <label asp-for="pdf_name" class="control-label-" style="font-size:20px; color:white">Please Click Choose File to Upload Yello Trader</label>
                            </div>

                            <div class="form-group" style="position: absolute; left:200px; top:170px">
                                <form action="/action_page.php">
                                    <input asp-for="pdf_name" type="file" id="myFile" name="filename" class="btn btn-warning">
                                    <input type="submit">
                                </form>
                            </div>

                            <div class="form-group" style="position: absolute; left:200px; top:250px">
                                <label class="control-label-" style="font-size:20px; color:white">Please Click Delete to Delete Current Yello Trader</label>
                            </div>

                            <div class="form-group" style="position: absolute; left:200px; top:290px">
                                <div class="form-group">
                                    <input type="submit" value="DELETE" class="btn btn-danger" />
                                </div>
                            </div>

                            <p> </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>*@


<form asp-controller="PDF" asp-action="PDFUpload" method="post" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <hr />
    <button type="submit">Upload</button>
</form>

@if (Model != null)
{
    <hr />
    <table class="table table-bordered table-striped" cellpadding="0" cellspacing="0" border="1">
        <thead>
            <tr>
                <th>SL</th>
                <th>PDF</th>
                <th>DISPLAY</th>
                <th>DELETE</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PDF_Model file in Model.Files)
            {
                <tr>
                    <td>@file.pdf_id</td>
                    <td>@file.pdf_name</td>
                    <td>
                        <a href="../PDF/PDFUpload?fileName=@file.pdf_name" style="margin-right:10px;">@file.pdf_name</a>
                        <a href="../PDF/PDFDisplay?fileName=@file.pdf_name" style="margin-right:10px;" target="_blank">@file.pdf_name</a>
                    </td>
                    <td>
                        <form asp-action="PDFUpload">
                            <input type="hidden" asp-for="pdf_id" />

                            <p> </p>
                            <div>
                                <input type="submit" value="Delete" asp-route-id="@Model.pdf_id" class="btn btn-warning" />
                            </div>

                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<br /> <br />
<embed id="embedPDF" src="~/files/@Model.pdf_name" style="width:500px, height:500px;" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
